attrs==21.2.0
aws-cfn-bootstrap==2.0
boto3==1.20.24
botocore==1.23.24
click==8.0.3
ddtrace==0.56.1
docutils==0.14
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
lockfile==0.11.0
MarkupSafe==2.0.1
packaging==21.3
protobuf==3.19.1
PyMySQL==1.0.2
pyparsing==3.0.6
pystache==0.5.4
python-daemon==2.2.3
python-dateutil==2.8.2
s3transfer==0.5.0
simplejson==3.2.0
six==1.16.0
SQLAlchemy==1.4.28
tenacity==8.0.1
typing_extensions==4.0.1
urllib3==1.26.7
Werkzeug==2.0.2
zipp==3.6.0
